    <!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        Notification
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h6 class="my-4">You have new notification</h6>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        Statistics
                    </div>
                    <div class="card-body">  
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-staff' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Staff <i class="fas fa-sharp fa-solid fa-briefcase"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-users' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Users <i class="fas fa-users"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-sales' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Sales <i class="fas fa-shipping-fast"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->