<div class="text-white p-3"><h3>Welcome, You are an active user</h3></div>

<div class="container-fluid">
  <div class="row">
    <div
      class="col-xl-6 col-lg-6 col-md-6 text-white p-3 m-4"
      style="border: 1px solid #ddd"
    >
      <h2>SIMPLIFY</h2>
      <p>
        This software will be used for generating reports in a visually
        attractive and easy to understand manner. This software uses the
        datasets from a chain of stores and from analyzing the data, reports
        would be generated for the user for ease of understanding. Using trend
        analysis we would be able to predict its scope or demand for the next
        month.
      </p>
      {% if producer %}
      <p>Hi</p>
      {% else %}
      <p>Hello</p>
      {% endif %}
    </div>
  </div>
</div>
