{% extends 'partials/base.html' %}
{% block title %}Home Page {% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff and user.is_superuser%}


    <!--Graphs-->
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 p-3 m-4">
                <a class="text-decoration-none" href = "/DFOwner" >
                    <div class="card my-card shadow text-center p-3">
                <h4>Forecast Demand <i class="fas fa-sharp fa-solid fa-briefcase"></i></h4>
               
            </div></a>  </div>
</div>

<div class="row">
    <div class="col-md-6 p-3 m-4">
        <a class="text-decoration-none text-dark" href="{% url 'vmowner' %}">
            <div class="card my-card shadow text-center p-3">
                <h4>Lets go! <i class="fas fa-sharp fa-solid fa-briefcase"></i></h4>
               
            </div>
        </a>
    </div>
   
</div>
        
    </div>
    <!--End Graphs-->
    {% elif user.is_authenticated and user.is_staff%}
    {% include 'dashboard/staff_index.html' %}
    {% elif producer %}
    <div class="text-white p-3"><h3>Welcome, {{user.username}}</h3></div>

    <div class="container-fluid">
    <div class="row">
        <div
        class="col-xl-6 col-lg-6 col-md-6 text-white p-3 m-4"
        style="border: 1px solid #ddd"
        >
        <h2>SIMPLIFY</h2>
        <p>
            This software will be used for generating reports in a visually
            attractive and easy to understand manner. This software uses the
            datasets from a chain of stores and from analyzing the data, reports
            would be generated for the user for ease of understanding. Using trend
            analysis we would be able to predict its scope or demand for the next
            month.
        </p>
       
        </div>
    </div>

        <div class="row">
            <div class="col-md-6 p-3 m-4">
                <a class="text-decoration-none text-dark" href="{% url 'vmprod' %}">
                    <div class="card my-card shadow text-center p-3">
                        <h4>Get Started! <i class="fas fa-sharp fa-solid fa-briefcase"></i></h4>
                       
                    </div>
                </a>
            </div>
           
    </div>
    {% else %}
<div>You are seeing this page because you d not have the permissions to view the dashboard. Kindly wait till the super admin grants the access. </div>
    {% endif %}
{% endblock %}