
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        Notification
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h6 class="my-4"><a href="{% url 'product_notice_board' %}">You have new notification</a></h6>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        Request Product
                    </div>
                    <div class="card-body">  
                        <div class="row">
                            <div class="col-md-8">
                                <a class="text-decoration-none text-dark" href="{% url 'product_request' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Request <i class="fas fa-sharp fa-solid fa-briefcase"></i></h4>
                                       
                                    </div>
                                </a>
                            </div>
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
