{% extends 'partials/base.html' %}
{% block title %}Product request Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <div class="row my-4">
      <div class="col-md-4">

      </div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-header bg-secondary text-white">
                  Request a Product
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-8">
                          <span class="h4"> Product Details</span> 
                          <hr>
                          <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                           
                            <input type="submit" value="Submit">
                          </form>
                      </div>
                    
                  </div>
              </div>
          </div>
      </div>

  </div>

</div>

{% endblock %}
